.cards {
  padding-top: 70px;
  background: #fff;
}
.cards__list {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  gap: 30px 24px;
  padding-bottom: 30px;
}
.cards__button {
  max-width: 1140px;
  width: 100%;
  margin: 50px auto 80px;
  height: 36px;
  background-color: #f9f9f9;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  border-radius: 6px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1190px) {
  .cards__list {
    max-width: 708px;
    grid-template-columns: repeat(2, 339px);
    gap: 36px 30px;
  }
  .cards__button {
    max-width: 708px;
  }
}
@media (max-width: 750px) {
  .cards__list {
    max-width: 300px;
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
  }
  .cards {
    padding-top: 40px;
  }
  .cards__button {
    max-width: 300px;
  }
}
