.infopopup__container {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.infopopup__image {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.infopopup__text {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.infopopup__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* .link-style {
  display: flex;
  text-decoration: none;
  color: inherit;
} */
