.searchform {
  padding: 65px 70px 0;
  background: #fff;
}
.save-movie_box {
  height: 138px;
}
.searchform__form {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.searchform__form-icon {
  display: block;
}

.searchform__input {
  width: 100%;
  min-height: 46px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  border: none;
  text-align: center;
  color: #a0a0a0;
  padding: 0;
}
.searchform__input::placeholder {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #a0a0a0;
}
.searchform__search {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.searchform__input_error {
  border: 1px solid red;
}

.searchform__input-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  padding-bottom: 47px;
}
.filter__label {
  display: flex;
}
.filter__checkbox-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.filter__checkbox-hidden:checked + .filter__checkbox-visible {
  background: url(../../images/smalltumb.svg) no-repeat;
}
.filter__checkbox-visible {
  display: inline-block;
  width: 40px;
  height: 22px;
  background: url(../../images/smalltumboff.svg) no-repeat;
  cursor: pointer;
}
.filter__text {
  margin-top: 3px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 12px;
  cursor: pointer;
}
.searchform__line {
  border: 1px solid #e8e8e8;
  margin-bottom: 28px;
  margin-top: 5px;
}
/* Медиа-запрос для экранов меньше 880px */
@media (max-width: 880px) {
  .searchform {
    padding: 80px 30px 0;
  }
  .save-movie_box {
    height: 158px;
  }
  .searchform__form-icon {
    display: none;
  }
}
/* Медиа-запрос для экранов меньше 580px */
@media (max-width: 580px) {
  .searchform {
    padding: 90px 14px 0;
  }
  .searchform__input {
    font-size: 18px;
    line-height: normal;
    text-align: left;
  }
  .searchform__form {
    margin: 0;
  }
  .searchform__line {
    margin-bottom: 40px;
    margin-top: 2px;
  }
  .searchform__filter {
    margin-bottom: 43px;
  }
  .filter {
    padding-bottom: 34px;
  }
  .filter__text {
    font-size: 11px;
    line-height: normal;
  }
  .save-movie_box {
    height: 108px;
  }
  .searchform__input::placeholder {
    font-size: 18px;
    line-height: normal;
  }
}
