.header_theme_blue {
  background-color: #465dff;
}

.header_theme_white {
  background-color: #ffff;
}

.header {
  display: flex;
  align-items: center;
  min-height: 74px;
  padding: 0 70px;
  justify-content: space-between;
}
.link-style {
  display: flex;
  margin: 0;
}
/* Медиа-запрос для экранов меньше 880px */
@media (max-width: 880px) {
  .header {
    padding: 0 30px;
  }
}
/* Медиа-запрос для экранов меньше 580px */
@media (max-width: 580px) {
  .header {
    padding: 0 14px;
    min-height: 68px;
  }
  .link-style {
    margin: 0 auto;
  }
}
