.header_theme_blue {
  background-color: #465dff;
}

.header_theme_white {
  background-color: #ffff;
}

.header {
  display: flex;
  align-items: center;
  min-height: 74px;
  padding: 0 70px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 410px) {
  .header {
    padding: 0 14px;
  }
}
