.promo {
  margin: 0;
  background: #465dff;
  display: flex;
  flex-direction: column;
}
.promo__content {
  display: flex;
  margin: 71px 70px 0;
  justify-content: space-between;
}
.promo__logo {
  width: 310px;
  height: 304px;
}
.promo__title {
  max-width: 640px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
  margin: 0;
  text-align: left;
  margin-right: 190px;
}
.promo__caption {
  text-align: left;
  margin: 36px 0 0;
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 880px) {
  .promo__content {
    flex-direction: column;
    align-items: center;
    margin-top: 138px;
  }
  .promo__title {
    margin: 48px 24px 22px;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }
  .promo__logo:nth-child(2) {
    order: -1;
  }
  .promo__caption {
    text-align: center;
    display: flex;
    margin-top: 0;
    max-width: 260px;
  }
  .promo__content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 580px) {
  .promo__logo {
    width: 210px;
    height: 206px;
  }
  .promo__title {
    margin: 44px 10px 24px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
  }
  .promo__content {
    margin: 66px 0 0;
  }
}
